{% extends 'base.html' %}

    <!--We will receive >tickets< object-->

{% block title %}Closed Tickets{% endblock %}



{% block main %}
     <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Ticket No</th>
                <th>Issue Date</th>
                <th>Deadline</th>
                <th>Issue Type</th>
                <th>Concerned Dept</th>
                <th>Status</th>
                <th>Closed By</th>
                <th>Resolution Comment</th>
            </tr>
        </thead>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.issued_time }}</td>
            <td>{{ ticket.resolve_by }}</td>
            <td>{{ ticket.issue_type }}</td>
            <td>{{ ticket.concerned_department }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.closed_by }}</td>
            <td>{{ ticket.resolution }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}