<!DOCTYPE html>

{% load static %}

<html>
<head>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/core.css' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<form action="/action_page.php"><br><br><br><br>
<center><h1><u> Support Interface</u></h1></center> <br><br><br><br>
<div>
	<center>
	    <a class="btn" href="unresolved">Pending Issue</a>
	    <a class="btn" href="resolvedissue.html">Resolved Issue</a>
	</center>

</div>
</form>
</body>
</html>