{% extends 'base.html' %}

    <!--We will receive >tickets< object-->

{% block title %}Home{% endblock %}

{% load static %}



{% block main %}

<!--	<form><br><br><br><br>-->
<br><br><br><br>
		<center><h1>Support Interface</h1></center> <br><br><br><br>
		<div>
			<center>
				<a class="btn btn-info" href="create">Create Ticket</a>
				<a class="btn btn-info" href="unresolved">Pending Issue</a>
				<a class="btn btn-info" href="closed">Resolved Issue</a>
			</center>

		</div>
<!--	</form>-->
{% endblock %}