{% extends 'base.html' %}

    <!--We will receive >tickets< object-->

{% block title %}Ticket {{ ticket.id }}{% endblock %}
{% block feature %} Ticket View {% endblock %}


{% block main %}

    <table class="table table-hover">
        <thead>
            <tr>
            <th>Ticket No</th>
            <th>Concerned Dept</th>
            <th>Issue Type</th>
            <th>Student Name</th>
            <th>Details</th>
            <th>Status</th>
            <th>Opened by</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Option</th>
            </tr>
        </thead>
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.concerned_department }}</td>
            <td>{{ ticket.issue_type }}</td>
            <td>{{ ticket.student_name }}</td>
            <td>{{ ticket.comment }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.opened_by }}</td>
            <td>{{ ticket.issued_time }}</td>
            <td>{{ ticket.resolve_by }}</td>
            <td><a href="{% url 'close_ticket' pk=ticket.id %}">Close Ticket</a></td>
        </tr>
    </table>

{% endblock %}

{% block sidebar %}



{% endblock %}
