{% extends 'base.html' %}

    <!--We will receive >tickets< object-->


{% block title %}Pending Issues{% endblock %}

{% block main %}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ticket No</th>
                    <th>Issue Date</th>
                    <th>Deadline</th>
                    <th>Issue Type</th>
                    <th>Concerned Dept</th>
                    <th>Details</th>
                </tr>
            </thead>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.issued_time }}</td>
                <td>{{ ticket.resolve_by }}</td>
                <td>{{ ticket.issue_type }}</td>
                <td>{{ ticket.concerned_department }}</td>
                <td><a href="{% url 'ticket_detail' pk=ticket.id %}">View Info</a></td>
            </tr>
            {% endfor %}
        </table>

{% endblock %}
