<!DOCTYPE html>
{% load static %}
<html>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>

    <div class="topnav">
        <div class="topnav-left">
            <a href="/">Home</a>
                {% if user.get_role_display == 'admin' %}
                    <a href="/create_user">Add User</a>
                {% endif %}
        </div>
        <div class="topnav-right">
            {% if user.is_authenticated %}
                <a href="#">Logged in as: {% block user %}{{ user.username }}{% endblock %}</a>
                <a href="/accounts/logout">Logout</a>
                {% if user.get_role_display != 'admin' %}
                    <a href="/unresolved/">Pending
                    <span id="notification_value" class="badge badge-primary"> {% block ticket_count %}{% endblock %}</span></a>
                {% endif %}
            {% else %}
                <a href="/accounts/login">Login</a>
            {% endif %}
        </div>
    </div>

    {% block main %}
    <table>
        <tr>
            <th>
            </th>
        </tr>
    </table>
    {% endblock %}

    {% block sidebar %}
    <tr>
            <td></td>
    </tr>
    {% endblock %}
</body>
</html>