{% if user.is_authenticated %}

{% load static %}

<head>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/core.css' %}">

</head>
<body>

<form><br><br><br><br>
<center><h1><u> Instructors </u></h1></center> <br><br><br><br>
<div>
	<center>
		<a class="btn" href="newtickets.html">Report New Issue</a>
	    <a class="btn" href="pendingissue.html">Pending Issue</a>
	    <a class="btn" href="resolvedissue.html">Resolved Issue</a>
	</center>

</div>
</form>
</body>
{% else %}
<a href="/admin"> Login </a>
{% endif %}